
{{!-- {{#if user}} --}}

<link rel="stylesheet" type="text/css" href="/css/favrecipe.css">
<h1 class="title is-2">
  Welcome back {{user.name}} !
</h1>

<h2 class="subtitle is-4">
  <span> Total Consumption </span> <br>
  {{totalCalories}} <br>
  {{totalTime}}
</h2>

<h2 class="subtitle is-4">
  <div class="table-title">
  <span>Planned Meals</span>
</div>
</h2>
  <table>
    <table class="table-fill">
      <thread>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Time</th>
      <th>Ingredients Required</th>
      <th>Cook Notes</th>
      <th> </th>
    </tr>
  </thread>

    {{#each dbitems as |recipe|}}
    <tr>
      <td class="text-left">{{recipe.name}}</td>
      <td class='calories'>{{recipe.calories}}</td>
      <td class="text-left">{{recipe.timeDisplay}}</td>
      <td class="text-left">
        <ul>
          {{#each recipe.ingredients as |ingredient|}}
            <li> {{ingredient}} </li>
          {{/each}}
        </ul>
      </td>
      <td class="text-left, cookingnotes">
        {{recipe.cookingnotes}}
      </td>
      <td class='text-center'>
        <form id='comments' action='/favrecipe/update' method='post'>
          <input id='commentbox' type='text' name='comment'>
          <input id='recipeid' type='hidden' name='recipeid' value='{{recipe.id}}'>
          <button>submit notes</button>
        </form>
      </td>
    </tr>

    {{/each}}
  </table>

<div class=buttons>
  <form action='/favrecipe/removeAll' method=post class='delete'>
    <button id=delete>DELETE ALL RECIPES</button>
  </form>

  <button id='logout'><a href='/userAuth/logout'>LOG OUT</a></button>
</div>
