
<link rel="stylesheet" type="text/css" href="/css/favrecipe.css">
<h4>
  Welcome back {{user.name}} !
</h4>

<div class="masonry">
  {{#each dbitems as |recipe|}}
    <div class="item">

      <img src="{{recipe.imageUrl}}">
      <p class="title">{{recipe.name}}</p>
      <form class='delete' action='/favrecipe/deleteOne?_method=delete' method='post'>
        <input class='recipeid' type='hidden' name='recipeid' value='{{recipe.id}}'>
        <button class="delete"><i class="material-icons">delete</i></button>
      </form><br />

      <div class="row">
        <i class="material-icons">accessibility</i>{{recipe.serving}} |
        <i class="material-icons">alarm</i>{{recipe.timeDisplay}} |
        <a target="_blank" href="{{recipe.instructionsUrl}}"><i class="material-icons">info</i>Directions</a>
      </div>

      <ul>
        <form action="/ingredient" method="#">
        {{#each recipe.ingredients as |ingredient|}}
        <li>
          <input type="checkbox" name="ingredient" value="{{ingredient}}" class="ingForm">
           {{ingredient}}
         </li>
        {{/each}}
        <input class="blockbutt addIng" type="submit" value="Add to Groceries List" >
      </form>
      </ul>

      <div class="cookingnotes">
        Comments: <span>{{recipe.cookingnotes}}</span><br/>
          <form class='comments' action='/favrecipe/update?_method=put' method='post'>
            <input id='commentbox' type="text" name='comment' placeholder="comment">
            <input class='recipeid' type='hidden' name='recipeid' value='{{recipe.id}}'>
            <button class="butt">Save</button>
          </form>
        </div>

  </div>
  {{/each}}
</div>

<div class="deleteAll">
  <form action='/favrecipe/removeAll' method='post' class='deleteAll'>
    <button id=delete class="deleteAll">Delete All<i class="material-icons deleteAll">delete_sweep</i></button>
  </form>
</div>
