
{{!-- {{#if user}} --}}

<link rel="stylesheet" type="text/css" href="/css/favrecipe.css">
<h4>
  Welcome back {{user.name}} !
</h4>

<div class="masonry">
  {{#each dbitems as |recipe|}}
    <div class="item">

      <img src="{{recipe.imageUrl}}">
      {{recipe.name}}
      <form class='delete' action='/favrecipe/deleteOne' method='post'>
        <input class='recipeid' type='hidden' name='recipeid' value='{{recipe.id}}'>
        <button class="delete"><i class="material-icons">delete</i></button>
      </form>

      <div class="row">
        <i class="material-icons">accessibility</i>{{recipe.serving}} ||
        <i class="material-icons">alarm</i>{{recipe.timeDisplay}} ||
        <a href="{{recipe.instructionsUrl}}"><i class="material-icons">info</i>Steps</a>
      </div>

      <ul>
        <form action="/ingredient" method="post">
        {{#each recipe.ingredients as |ingredient|}}
        <li>
          <input type="checkbox" name="ingredient" value="{{ingredient}}">
           {{ingredient}}
         </li>
        {{/each}}
        <input class="blockbutt" type="submit" value="Add to Groceries List">
      </form>
      </ul>

      <div class="cookingnotes">
        My Notes: {{recipe.cookingnotes}}<br/>
          <form class='comments' action='/favrecipe/update' method='post'>
            <input id='commentbox' type="text" name='comment' placeholder="comment">
            <input class='recipeid' type='hidden' name='recipeid' value='{{recipe.id}}'>
            <button class="butt">Save</button>
          </form>
        </div>

  </div>
  {{/each}}

<div class=buttons>
  <form action='/favrecipe/removeAll' method=post class='delete'>
    <button id=delete>DELETE ALL RECIPES</button>
  </form>

  <a href='/userAuth/logout'><button id='logout'>LOG OUT</button></a>
</div>
