
<link rel="stylesheet" type="text/css" href="/css/featuredOne.css">

<div class="item">
  <img src="{{onerecipe.imageUrl}}">
  <p class="title"><i class="material-icons" id="addBtn">add_circle<span class="hidden">ADD TO FAV</span></i>{{onerecipe.name}}</p>

  <div class="row">
    <i class="material-icons">accessibility</i>{{onerecipe.serving}} |
    <i class="material-icons">alarm</i>{{onerecipe.timeDisplay}} |
    <a target="_blank" href="{{onerecipe.instructionsUrl}}"><i class="material-icons">info</i>Directions</a>
  </div>

  <ul>
    {{#each onerecipe.ingredients as |ingredient|}}
    <li>
       {{ingredient}}
     </li>
    {{/each}}
  </ul>

</div>
